
:root{
    --cor-de-fundo: #24291f;
    --verde:#6FFF57;
    --branco:#FFFFFF;
    --botao-ativo:#3A375E;
    --botao-inativo:rgba(58,55,94,0,5);
    --texto-fundo:rgba(58,55,94,0,3);
   }

.botao1{
    color: blue;
    background-color:black;
}

.botao2{
    color: rgb(129, 2, 28);
     background-color: mediumslateblue;
}

.botao3{
    color: rgb(110, 206, 15);
    background-color:rgb(0, 145, 55);
}

.botao4{
    color: rgb(44, 2, 73);
    background-color: red;
}

*{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
}

span{
   color: var(--verde);

}

.conteudo-principal{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 32px;
}

.botao1,.botao2,.botao3,.botao4{
    background-color: var(--botao-inativo);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 18px;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);


}